/application.properties
.classpath
*.crt
*.der
.factorypath
.flattened-pom.xml
.idea/
*.iml
*.key
kwinject.out
.kwlp/
.kwps/
logback*.xml
*.oc
*.oc
*.op
*.op
*.pem
pom.xml.versionsBackup
.project
/sdo.properties
.settings/
*.swp
target/
