# This is the service config for a sample device


device:

  di-url: http://host.docker.internal:8080

  credential-file: ./app-data/credentials.bin
 
  keystore: 
     path: ./app-data/device.p12
     store-type: PKCS12
     password: ''

  # +---------------------------------------------------------------+
  # |key-type - normative profile                                   |
  # +---------------------------------------------------------------+
  # | Name         | Value | Description                            |
  # +---------------------------------------------------------------+
  # | SECP256R1    | 10    | ECDSA secp256r1 NIST-P-256 prime256v1  |
  # | SECP384R1    | 11    | ECDSA secp384r1  NIST-P-384            |
  # +--------------+-------+----------------------------------------+
  
  key-type: SECP256R1

  
  # +---------------------------------------------------------------+
  # |key-enc values                                                 |
  # +---------------------------------------------------------------+
  # | Name         | Value | Description                            |
  # +---------------------------------------------------------------+
  # | X509         | 5     | RSA key, PKCS1, v1.5                   |
  # | COSEX5CHAIN  | 10    | ECDSA secp256r1 NIST-P-256 prime256v1  |
  # | COSEKEY      | 11    | ECDSA secp384r1 NIST-P-384             |
  # +--------------+-------+----------------------------------------+
  
  key-enc: X509


  # +------------------------------------------------------------+
  # |cipher-suites values supported from rfc 8152                |
  # +---------+-------+------------------------------------------+
  # | Name    | Value | Description                              |
  # +---------+-------+------------------------------------------+
  # | A128GCM | 1     | AES-GCM mode w/ 128-bit key, 128-bit tag |
  # | A256GCM | 3     | AES-GCM mode w/ 256-bit key, 128-bit tag |
  # +---------+-------+------------------------------------------+
  # +--------------------+-------+----+-----+-----+---------------------+
  # | Name               | Value | L  | M   | k   | Description         |
  # +--------------------+-------+----+-----+-----+---------------------+
  # | AES_CCM_64_128_128 | 32    | 64 | 128 | 128 | AES-CCM mode        |
  # |                    |       |    |     |     | 128-bit key,        |
  # |                    |       |    |     |     | 128-bit tag, 7-byte |
  # |                    |       |    |     |     | nonce               |
  # | AES_CCM_64_128_256 | 33    | 64 | 128 | 256 | AES-CCM mode        |
  # |                    |       |    |     |     | 256-bit key,        |
  # |                    |       |    |     |     | 128-bit tag, 7-byte |
  # |                    |       |    |     |     | nonce               | 
  # +--------------------+-------+----+-----+-----+---------------------+

  cipher-suite: A256GCM
  
  # +-------------+--------------------------------------------------+
  # | VALUE       | Description                                      |
  # +-------------+--------------------------------------------------+
  # | DHKEXid14   |                                                  |
  # | DHKEXid15   |                                                  |
  # | ASYMKEX2048 |                                                  |
  # | ASYMKEX3072 |                                                  |
  # | ECDH256     |  String 1.1 suppored                             |
  # | ECDH384     |  String 1.1 suppored                             |
  # +-------------+--------------------------------------------------+

  key-exchange-suite: ECDH256  

  max-message-size: 0
  service-info-mtu: 1300
  max-retry: 1
  retry-delay: 10



# The worker items the device will use when handling requests
workers:
  - org.fidoalliance.fdo.protocol.StandardLogProvider
  #- org.fidoalliance.fdo.protocol.DebugExceptionConsumer
  - org.fidoalliance.fdo.protocol.StandardExceptionConsumer
  - org.fidoalliance.fdo.protocol.StandardMessageDispatcher
  - org.fidoalliance.fdo.protocol.StandardCryptoService
  # - org.fidoalliance.fdo.protocol.StandardHttpClientSupplier
  - org.fidoalliance.fdo.protocol.SelfSignedHttpClientSupplier
  - org.fidoalliance.fdo.sample.FileCredentialConsumer
  - org.fidoalliance.fdo.sample.FileCredentialSupplier 
  - org.fidoalliance.fdo.sample.FileKeyStoreInputStream
  - org.fidoalliance.fdo.sample.FileKeyStoreOutputStream 
  - org.fidoalliance.fdo.sample.DeviceValidityDays
  - org.fidoalliance.fdo.sample.StandardDeviceKeySupplier 
  - org.fidoalliance.fdo.sample.StandardHmacFunction
  - org.fidoalliance.fdo.sample.StandardMaxServiceInfoSupplier
  - org.fidoalliance.fdo.sample.StandardCredReuseFunction
  #- org.fidoalliance.fdo.sample.UnsupportedCredReuseFunction
  - org.fidoalliance.fdo.sample.StandardDeviceModule
  - org.fidoalliance.fdo.sample.ConformanceDeviceModule
  - org.fidoalliance.fdo.sample.FdoSysDeviceModule



system-properties:
  log4j.configurationFile: log4j2.xml
  app-data.dir: ./app-data
  # javax.net.ssl.keyStorePassword: default
  # javax.net.ssl.trustStorePassword: default
  # javax.net.ssl.keyStore: ./app-data/api-user.pem
  # javax.net.ssl.trustStore: ./app-data/ca-cert.pem
  # javax.net.ssl.keyStoreType: PEM
  # javax.net.ssl.trustStoreType: PEM
