<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
 

   <servlet>
      <servlet-name>FdoProtocol</servlet-name>
      <servlet-class>org.fidoalliance.fdo.protocol.ProtocolServlet</servlet-class>
   </servlet>



   <servlet-mapping> 
      <servlet-name>FdoProtocol</servlet-name>
      <url-pattern>/fdo/101/msg/10</url-pattern>
      <url-pattern>/fdo/101/msg/12</url-pattern>
      <url-pattern>/fdo/101/msg/20</url-pattern>
      <url-pattern>/fdo/101/msg/22</url-pattern>
      <url-pattern>/fdo/101/msg/30</url-pattern>
      <url-pattern>/fdo/101/msg/32</url-pattern>
      <url-pattern>/fdo/101/msg/60</url-pattern>
      <url-pattern>/fdo/101/msg/62</url-pattern>
      <url-pattern>/fdo/101/msg/64</url-pattern>
      <url-pattern>/fdo/101/msg/66</url-pattern>
      <url-pattern>/fdo/101/msg/68</url-pattern>
      <url-pattern>/fdo/101/msg/70</url-pattern>
      <url-pattern>/fdo/101/msg/255</url-pattern>
   </servlet-mapping>

   
   <servlet>
      <servlet-name>RvInfo</servlet-name>
      <servlet-class>org.fidoalliance.fdo.protocol.api.RestApiServlet</servlet-class>
      <init-param>
        <param-name>Api-Class</param-name>
        <param-value>org.fidoalliance.fdo.protocol.api.RvInfo</param-value>
      </init-param>
   </servlet>
   <servlet-mapping> 
      <servlet-name>RvInfo</servlet-name>
      <url-pattern>/api/v1/rvinfo</url-pattern>
   </servlet-mapping>

   
</web-app>