# Copyright 2020 Intel Corporation
# SPDX-License-Identifier: Apache 2.0

version: "2.4"

services:

  pri-fdo-aio:
    image: pri-fdo-aio
    container_name: pri-fdo-aio
    expose:
      - "8080"
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - _JAVA_OPTIONS
    restart: on-failure:5
    env_file:
      - service.env
    volumes:
      - ./app-data:/home/fdo/app-data 
    extra_hosts:
     - "host.docker.internal:host-gateway"
    mem_limit: 500m
    mem_reservation: 200m
    cpu_shares: 1024
    pids_limit: 500

