<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>

        <!--
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
         -->
	
	<!-- for embedded databse 
        <property name="hibernate.connection.url">jdbc:derby:emdb</property>
         -->
        <!-- for maria databse
	<property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/fdo</property>
        -->

        <!-- show mysql queries output in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- for other databases this is set to create-drop -->
        <property name="hbm2ddl.auto">update</property>
        <!-- for derby set to update -->
        <!--<property name="hbm2ddl.auto">update</property>-->


	<!-- for embedded database -->
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property> -->
        <!-- for maria/mysql
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property> -->



	<!-- Fdo protocol default database mapping -->

        <mapping class="org.fidoalliance.fdo.protocol.entity.AllowDenyList"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.CertificateValidity"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.CertificateData"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.OnboardingVoucher"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.OnboardingConfig"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.OnDieCertificateData"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.ProtocolSession"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.ManufacturedVoucher"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.RvRedirect"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.RvData"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.ConformanceData"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.SystemResource"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.SystemPackage"></mapping>
        <mapping class="org.fidoalliance.fdo.protocol.entity.VoucherAlias"></mapping>


</session-factory>
</hibernate-configuration>

